<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
	<title>Listado de Usuarios</title>
	<style>
		/*Código de imagen de fondo*/
		body {
			background-image: url('https://st4.depositphotos.com/39002138/40904/i/450/depositphotos_409044106-stock-photo-shopping-basket-filled-fruits-vegetables.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 80%;
		}
	</style>
</head>

<body>




	<div style="color:white;">

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

			<div class="container-fluid">
				<a class="navbar-brand" href="/appcomercio-0.0.1-SNAPSHOT">
					<img src="https://www.bolsalea.com/blog/media/tienda-tradicional_opt.png" width="40" height="40"
						class="d-inline-block align-top" alt="" />
				</a>




				<h3 class="text-center" style="color:white;">
					&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
					&#9743 Tienda Genérica Grupo 2 (Clase 65) &#9743
				</h3>



				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
					<ul class="navbar-nav mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/usuarios}"><strong>Usuarios</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/clientes}"><strong>Clientes</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/proveedores}"><strong>Proveedores</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/productos}"><strong>Productos</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/ventas}"><strong>Ventas</strong></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/reportes}"
								style="color:white;"><strong>Reportes</strong></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>



		<div class="container mt-4">
			<div class="d-flex align-items-center justify-content-between">
				<h2 style="color:black;">Listado de Usuarios</h2>
				<a th:href="@{/usuarios}" class="btn btn-primary">Agregar Nuevo Usuario</a>
			</div>
			<table class="table table-striped table-hover">
				<caption>
					<p>
						<b style="color:black;">Lista Total de Usuarios: <span th:text="${cuenta}"></span></b>
					</p>
				</caption>
				<thead class="table table-primary">
					<tr>
						<th scope="col" style="color:black;">Cedula</th>
						<th scope="col" style="color:black;">Nombre Completo</th>
						<th scope="col" style="color:black;">Correo Electronico</th>
						<th scope="col" style="color:black;">Usuario</th>
						<th scope="col" style="color:black;">Password</th>
						<th scope="col" style="color:black;">Accion</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario:${usuarios}">
						<td th:text="${usuario.cedula_usuario}" style="background-color:#F8F9F9"></td>
						<td th:text="${usuario.nombre_usuario}" style="background-color:#F8F9F9"></td>
						<td th:text="${usuario.email_usuario}" style="background-color:#F8F9F9"></td>
						<td th:text="${usuario.usuario}" style="background-color:#F8F9F9"></td>
						<td th:text="${usuario.password}" style="background-color:#F8F9F9"></td>
						<td>
							<a th:href="@{/usuarios/actualizar/}+${usuario.cedula_usuario}"
								class="btn btn-warning">Editar</a>
							<a th:href="@{/usuarios/eliminar/}+${usuario.cedula_usuario}"
								class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:class="alert" th:classAppend="${clase}" th:text="${mensaje}"></div>
		</div>




		<div class="text-center" style="color:black;">
			<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			&copy; 2021 Tienda Generica. Clase # 65, Inc. | Autor: Grupo #2
			<a class="navbar-brand" href="#"> <img src="https://www.bolsalea.com/blog/media/tienda-tradicional_opt.png"
					width="40" height="40" class="d-inline-block align-top" alt="">
		</div>


	</div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script>
</body>

</html>