<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
	<link rel=stylesheet type="text/css" href="estilos.css"> 
	<title>Proveedores</title>
	</head>
	
<body>
    
    <header>
       <h1 align="center" > Tienda Genérica Grupo 2 (Clase 65) </h1>
    </header>   
      <nav>
        <div id="menu">
            <ul>
                <li id ="item"><a href="#">Usuarios</a></li>
                <li id ="item"><a href="#">Clientes</a></li>
                <li id ="item"><a href="#"> Proveedores</a></li>
                <li id ="item"><a href="#"> Ventas</a></li>
                <li id ="item"><a href="#"> Reportes</a></li>    
            </ul>    
        </div>
      </nav>
      <div class = "clearfix"></div>

		<div id = "container">
          <section id = "content">
            <form>
                <div class='field'>
                    <label>N.I.T.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                    <input name='nit' type='name' required value="Ingrese Nombre del proveedor" placeholder='nit' autocomplete />
                    <label>Nombre del Proveedor</label>
                    <input name='provedor' type='name' required value="Ingrese Nombre Completo" autocomplete />
                </div>
                <div class='field'>
                    <label> Dirección&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                    <input name='direccion' type='name' required value="Ingrese Dirección Completa" autocomplete />
                    <label>Teléfono&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                    <input name='telefono' type='value' required value="Número de teléfono" autocomplete />
                </div>
                <div class='field'>
                    <label> Ciudad&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                    <input name='ciudad' type='name' required value="Ciudad de Origen" autocomplete />
                </div>            
                <div class='submit'>
                    <button> Consultar </button>
                    <button> Crear </button>
                    <button> Actualizar </button>
                    <button> Borrar </button>
                </div>
            </form>
          </section>
        

		</div>    
    </body>

</html>