<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Proveedores</title>
	</head>
	<body>
		<header>
			<h1>Datos Proveedores</h1>
		</header>
		<form>
			<label for = "texto"> Nombre</label>
			<input type = "text" name = nombre_proveedor>
			<br>
			<label for = "texto"> Telefono</label>
			<input type = "text" name = telefono_proveedor>
			<br>
			<label for = "texto"> Ciudad</label>
			<input type = "text" name = ciudad_proveedor>
			<br>
			<label for = "texto"> Direccion</label>
			<input type = "text" name = direccion_proveedor>
			<br>
			<label for = "texto"> NIT</label>
			<input type = "text" name = nit_proveedor>
			<br>
			<input type = "submit" name = guardar>
			
			
		</form>
	</body>
</html>