<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="static/estilos.css" type="text/css" rel=stylesheet />
<title>Listado de Clientes</title>
</head>
<body>

    <header>
       <h1> Tienda Genérica Grupo 2 (Clase 65)</h1>
    </header>  

	<div id="menu">
		<ul>
			<li id="item"><a th:href="@{/usuarios}">Usuarios</a></li>
			<li id="item"><a th:href="@{/clientes}">Clientes</a></li>
			<li id="item"><a th:href="@{/proveedores}"> Proveedores</a></li>
			<li id="item"><a th:href="@{/productos}"> Productos</a></li>
			<li id="item"><a th:href="@{/ventas}"> Ventas</a></li>
			<li id="item"><a th:href="@{/reportes}"> Reportes</a></li>
		</ul>
	</div>
	
	    <meta charset="utf-8" />
	
	    <style>
        * {
            color: black;
        }
    </style>
	
    <meta name ="description" content = "Login" />
 
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
        }


    </style>
	
	
 <title>Reportes</title>
    
</head>
<body>

    <form >
        <input type="submit" value="Listado de Usuarios"/><br/><br/>
        <input type="submit" value="Listado de Clientes"/><br/><br/>
		<input type="submit" value="Ventas por Cliente"/><br/><br/>
		
    </form>    
	
	

</body>
</html>