<!DOCTYPE html>
<html lang="es">
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="estilos.css" type="text/css" rel=stylesheet /> 
<title>Ventas</title>
</head>

    <header>
       <h1> Tienda Genérica Grupo 2 (Clase 65)</h1>
    </header>  


	<div id="menu">
		<ul>
			<li id="item"><a th:href="@{/usuarios}">Usuarios</a></li>
			<li id="item"><a th:href="@{/clientes}">Clientes</a></li>
			<li id="item"><a th:href="@{/proveedores}"> Proveedores</a></li>
			<li id="item"><a th:href="@{/productos}"> Productos</a></li>
			<li id="item"><a th:href="@{/ventas}"> Ventas</a></li>
			<li id="item"><a th:href="@{/reportes}"> Reportes</a></li>
		</ul>
	</div>



    <meta charset="utf-8" />
	
	    <style>
        * {
            color:black;
        }
    </style>
	
    <meta name ="description" content = "Login" />
 
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
        }


    </style>



 <title>Ventas</title>
    
</head>
<body>

    <form >
        Cedula <input type="text" name="nit" size="20">
        <input type="submit" value="Consultar"/>		
        Cliente <input type="text" name="proveedor" size="20"/>
		Consec. <input type="text" name="direccion" size="20"/><br/><br/>
		
		
		Cod. Producto         Cliente              Consec.<br/>
		<input type="text" name="cod_1" size="20"/>
		<input type="submit" value="Consultar"/>
		<input type="text" name="nombre_1" size="20"/>
		<input type="text" name="cantidad_1" size="20"/>
		<input type="text" name="valor_1" size="20"/><br/>
		
		<input type="text" name="cod_2" size="20"/>
		<input type="submit" value="Consultar"/>
		<input type="text" name="nombre_2" size="20"/>
		<input type="text" name="cantidad_2" size="20"/>
		<input type="text" name="valor_2" size="20"/><br/>
		
		<input type="text" name="cod_3" size="20"/>
		<input type="submit" value="Consultar"/>
		<input type="text" name="nombre_3" size="20"/>
		<input type="text" name="cantidad_3" size="20"/>
		<input type="text" name="valor_1" size="20"/><br/>
		
		
		Total Venta <input type="text" name="Venta" size="20"/><br/>
		Total IVA <input type="text" name="IVA" size="20"/><br/>
		Total con IVA <input type="text" name="Total_IVA" size="20"/><br/>
		<input type="submit" value="Confirmar"/>


    </form>    

</body>
</html>