<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
	
	    <style>
        * {
            color: gray;
        }
    </style>
	
    <meta name ="description" content = "Login" />
 
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

    </style>



 <title>Ventas</title>
    
</head>
<body>

    <form >
        Cedula <input type="text" name="nit" size="20">
        <input type="submit" value="Consultar"/>		
        Cliente <input type="text" name="proveedor" size="20"/>
		Consec. <input type="text" name="direccion" size="20"/><br/><br/>
		
		
		Cod. Producto         Cliente              Consec.<br/>
		<input type="text" name="cod_1" size="20"/>
		<input type="submit" value="Consultar"/>
		<input type="text" name="nombre_1" size="20"/>
		<input type="text" name="cantidad_1" size="20"/>
		<input type="text" name="valor_1" size="20"/><br/>
		
		<input type="text" name="cod_2" size="20"/>
		<input type="submit" value="Consultar"/>
		<input type="text" name="nombre_2" size="20"/>
		<input type="text" name="cantidad_2" size="20"/>
		<input type="text" name="valor_2" size="20"/><br/>
		
		<input type="text" name="cod_3" size="20"/>
		<input type="submit" value="Consultar"/>
		<input type="text" name="nombre_3" size="20"/>
		<input type="text" name="cantidad_3" size="20"/>
		<input type="text" name="valor_1" size="20"/><br/>
		
		
		Total Venta <input type="text" name="Venta" size="20"/><br/>
		Total IVA <input type="text" name="IVA" size="20"/><br/>
		Total con IVA <input type="text" name="Total_IVA" size="20"/><br/>
		<input type="submit" value="Confirmar"/>


    </form>    

</body>
</html>